/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #27a3ff;
  text-decoration: none; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edf5f8;
  color: #333; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

._1lu1pSSCTEiMMLnV37xwin ._1BDwSU6BIANcgIKl9JuoAI {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0;
  position: relative;
  margin: 0 30px 30px;
  box-sizing: border-box;
  border: 1px solid #bbe2ff;
  border-radius: 6px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  background: #fff; }

._3e_2yegtEx_u4AE9UFXVVM {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 60px;
  padding: 21px 30px 0;
  margin: 0 0 30px;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1); }
  ._3e_2yegtEx_u4AE9UFXVVM ._1--KxKRF7shxWkhaW2ufw4 {
    display: inline-block;
    font-size: 15px;
    line-height: 16px;
    padding: 1px 0 0;
    color: #F6BECC;
    text-transform: uppercase; }
  ._3e_2yegtEx_u4AE9UFXVVM img {
    width: 42px;
    height: auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 4px; }
  ._3e_2yegtEx_u4AE9UFXVVM ._-29aoNkD5bPqSE6jENl_T {
    float: right;
    display: block;
    font-size: 15px;
    line-height: 15px;
    color: #F6BECC; }
    ._3e_2yegtEx_u4AE9UFXVVM ._-29aoNkD5bPqSE6jENl_T span {
      font-size: 19px; }

._2IV1QtpuPS2Wf4Pdhdv_L- {
  border-right: 1px solid #edf5f8;
  display: flex;
  flex-flow: column;
  min-height: 420px; }
  ._2IV1QtpuPS2Wf4Pdhdv_L- ._30Z5IKMjtDEE10I2OXZX9C {
    flex: 1 1; }

._2HRoB5CsKIzXj02pzTZqyN {
  position: relative;
  padding: 30px 0 0;
  text-align: center; }
  ._2HRoB5CsKIzXj02pzTZqyN > img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto 10px;
    border: 2px #fff solid;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%; }
  ._2HRoB5CsKIzXj02pzTZqyN > span {
    display: block;
    font-weight: bold;
    margin: 0 0 6px; }
  ._2HRoB5CsKIzXj02pzTZqyN p {
    padding: 0 30px 20px;
    font-size: 14px;
    color: #999; }
    ._2HRoB5CsKIzXj02pzTZqyN p strong {
      font-weight: bold; }
    ._2HRoB5CsKIzXj02pzTZqyN p span {
      display: block;
      margin: 6px 0 0;
      color: #ccc;
      font-size: 12px; }
    ._2HRoB5CsKIzXj02pzTZqyN p::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      margin: 0 auto;
      content: ' ';
      border-bottom: 3px solid #edf5f8; }

.Q9wmw1drz5KkuQcdGu4QJ {
  padding: 20px 0 0; }
  .Q9wmw1drz5KkuQcdGu4QJ h4 {
    margin: 0 0 6px 20px;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #9ba2b0; }
  .Q9wmw1drz5KkuQcdGu4QJ .IFjx83OLblaYvi8epj1xP {
    display: block;
    float: right;
    padding: 0 10px 0 0;
    line-height: 24px;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    opacity: 0.6;
    color: #9314ff; }
    .Q9wmw1drz5KkuQcdGu4QJ .IFjx83OLblaYvi8epj1xP:hover {
      opacity: 1; }
  .Q9wmw1drz5KkuQcdGu4QJ ul li {
    border-top: 1px solid #9ed9fe; }
    .Q9wmw1drz5KkuQcdGu4QJ ul li._1ScfvXEcwNuJQT8O2CYAgx a {
      min-height: auto;
      line-height: 22px; }
    .Q9wmw1drz5KkuQcdGu4QJ ul li a {
      display: block;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      min-height: 48px;
      padding: 6px 30px 6px 20px;
      color: #666;
      background: #fff; }
      .Q9wmw1drz5KkuQcdGu4QJ ul li a._30YzU6vtdL8pOvq61wntyP {
        color: #58508d;
        font-weight: bold; }
      .Q9wmw1drz5KkuQcdGu4QJ ul li a:after {
        content: ' ';
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: 6px;
        background: url(033eb7eb3acd3ee783bea4b26a490b6e.png) no-repeat right center;
        background-size: 6px auto; }
    .Q9wmw1drz5KkuQcdGu4QJ ul li h5 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;
      height: 16px;
      margin: auto; }
    .Q9wmw1drz5KkuQcdGu4QJ ul li .-dIMtHXG-6qZYaoOFaDI2 {
      float: right;
      text-align: right;
      font-size: 13px;
      line-height: 18px;
      color: #999; }
      .Q9wmw1drz5KkuQcdGu4QJ ul li .-dIMtHXG-6qZYaoOFaDI2 span {
        display: block; }
      .Q9wmw1drz5KkuQcdGu4QJ ul li .-dIMtHXG-6qZYaoOFaDI2 ._25LDEnGpxt_o--_iGoM3yW strong {
        color: #4aa23c; }
      .Q9wmw1drz5KkuQcdGu4QJ ul li .-dIMtHXG-6qZYaoOFaDI2 ._3PjuplykyWpSC1NLrv7jzU > strong {
        font-weight: bold; }

._5GK54cSKlwUA5MHruDk5Z {
  margin: 0 0 30px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: 120px;
    padding: 10px;
    justify-content: space-evenly;
    border: 1px solid #bbe2ff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 6px; }
    ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 h2 {
      line-height: 31px;
      font-size: 18px;
      font-weight: lighter; }
      ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 h2 span {
        color: #999; }
    ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 strong {
      position: absolute;
      right: 10px;
      top: 10px;
      text-align: right; }
      ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 strong ._1_Uw_oEH1OcJaBf7EQ3j6M {
        font-size: 20px;
        font-weight: bold;
        color: #333; }
      ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 strong .WrSHLKwxLVmHAjK33okBN {
        text-transform: uppercase;
        font-size: 11px;
        color: #666; }
      ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 strong span {
        display: block; }
    ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 ._77K0In93iUFuTir3cxhgR {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px; }
      ._5GK54cSKlwUA5MHruDk5Z ._3Qhr1vZEbGLe5Ex7Gwq3V0 ._77K0In93iUFuTir3cxhgR svg {
        overflow: visible; }

._1BBExgSjaxFhVLa4vvrMuW {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 0; }
  ._1BBExgSjaxFhVLa4vvrMuW ._1NTtQKAa1WkR-mVw7xXs0b {
    position: relative;
    padding: 20px;
    border-right: 1px solid #edf5f8;
    background: radial-gradient(100% 100px at 50% 0, rgba(45, 175, 229, 0.15), #fff); }
    ._1BBExgSjaxFhVLa4vvrMuW ._1NTtQKAa1WkR-mVw7xXs0b h2 {
      position: absolute;
      top: 24px;
      z-index: 1;
      font-size: 20px; }
      ._1BBExgSjaxFhVLa4vvrMuW ._1NTtQKAa1WkR-mVw7xXs0b h2 span {
        font-size: 12px;
        color: #666;
        text-transform: uppercase; }
    ._1BBExgSjaxFhVLa4vvrMuW ._1NTtQKAa1WkR-mVw7xXs0b ._1MHU4QGGk20OXK2LzxApHK {
      margin: 0px 0 0; }
  ._1BBExgSjaxFhVLa4vvrMuW ._3egm8kFSrD5LEH-PpEoHMK {
    padding: 24px 20px; }
    ._1BBExgSjaxFhVLa4vvrMuW ._3egm8kFSrD5LEH-PpEoHMK h2 {
      font-size: 20px; }

._2oHkYLVPy_0hKm13Zg1JZq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0; }
  ._2oHkYLVPy_0hKm13Zg1JZq ul._325u82Tks9ejPdohEwNxLJ li {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    margin: 0 0 2px; }
    ._2oHkYLVPy_0hKm13Zg1JZq ul._325u82Tks9ejPdohEwNxLJ li div {
      width: 25%;
      text-align: right;
      float: left; }
      ._2oHkYLVPy_0hKm13Zg1JZq ul._325u82Tks9ejPdohEwNxLJ li div span {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 3px 6px;
        text-align: right;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 14px;
        background: #ccc;
        border-radius: 2px;
        color: #fff; }
    ._2oHkYLVPy_0hKm13Zg1JZq ul._325u82Tks9ejPdohEwNxLJ li ._39pnb5dAJpNuUrnrNGCK6Q {
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 3px 6px;
      text-align: right;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      background: #ccc;
      border-radius: 2px;
      color: #fff; }
    ._2oHkYLVPy_0hKm13Zg1JZq ul._325u82Tks9ejPdohEwNxLJ li input {
      box-sizing: border-box;
      height: 26px;
      width: 44%;
      margin: 0 10px 0 0;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      border: 1px solid transparent;
      border-bottom: 1px solid #edf5f8;
      color: #333; }
      ._2oHkYLVPy_0hKm13Zg1JZq ul._325u82Tks9ejPdohEwNxLJ li input:hover {
        border: 1px solid #edf5f8; }
    ._2oHkYLVPy_0hKm13Zg1JZq ul._325u82Tks9ejPdohEwNxLJ li .Y4SiijGFLXc-8e24OQ_eD {
      color: #888;
      font-size: 14px; }
  ._2oHkYLVPy_0hKm13Zg1JZq ul._3P2H1BB0D7-tROOHp_cgYy {
    display: flex;
    height: 100%; }
    ._2oHkYLVPy_0hKm13Zg1JZq ul._3P2H1BB0D7-tROOHp_cgYy li:first-child {
      border-right: 1px solid #ccc; }
    ._2oHkYLVPy_0hKm13Zg1JZq ul._3P2H1BB0D7-tROOHp_cgYy li {
      width: 50%;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0px 20px;
      margin: auto 0; }
      ._2oHkYLVPy_0hKm13Zg1JZq ul._3P2H1BB0D7-tROOHp_cgYy li h5 {
        margin: 0 0 6px;
        font-size: 14px;
        color: #999; }
      ._2oHkYLVPy_0hKm13Zg1JZq ul._3P2H1BB0D7-tROOHp_cgYy li strong {
        display: block;
        margin: 0 0 6px;
        font-size: 17px;
        font-weight: bold;
        color: #666; }
      ._2oHkYLVPy_0hKm13Zg1JZq ul._3P2H1BB0D7-tROOHp_cgYy li span {
        display: block;
        color: #ccc;
        font-size: 11px;
        text-transform: uppercase; }




