.profile {
  position: relative;
  padding: 30px 0 0;
  text-align: center;

  > img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto 10px;
    border: 2px #fff solid;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
    border-radius: 50%;
  }

  > span {
    display: block;
    font-weight: bold;
    margin: 0 0 6px;
  }

  p {
    padding: 0 30px 20px;
    font-size: 14px;
    color: #999;

    strong {
      font-weight: bold;
    }

    span {
      display: block;
      margin: 6px 0 0;
      color: #ccc;
      font-size: 12px;
    }

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      margin: 0 auto;
      content: ' ';
      border-bottom: 3px solid #edf5f8;
    }
  }

}